body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

small {
    font-size: 10px;
}

.banner-background {
    background: linear-gradient(135deg, #141E30, #243B55);
    position: relative;
}

.capabilities-background {
    background: linear-gradient(135deg, #243B55, #141E30);
    position: relative;
}

.capabilities-background .subtitle {
    font-size: 1.5em;
    color: #a6a6a6;
}


.banner-background .subtitle {
    font-size: 1.5em;
    color: #a6a6a6;
}

.card {
    max-height: 200px;
    /* overflow: scroll; */
}

.hidden {
    display: none;
    visibility: hidden;
}

#vizCanvas {
    position: relative;
}

#main {
    transition: margin-left .5 sec
}

.push-left {
    margin-left: 300px;
}

.sidenav-background {
    background: linear-gradient(135deg, #141E30, #243B55);
}

.page-footer {
    padding-top: 0 !important;
}

button:disabled {
    background-color: black;
}

.colab-universities img {
    width: 180px;
    height: 180px;
}
