@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

main {
    flex: 1 0 auto;
}

small {
    font-size: 10px;
}

.banner-background {
    background: linear-gradient(135deg, #141E30, #243B55);
    position: relative;
}


.banner-background .subtitle {
    font-size: 1.5em;
    color: #a6a6a6;
}

.card {
    max-height: 200px;
    /* overflow: scroll; */
}

.hidden {
    display: none;
    visibility: hidden;
}

#vizCanvas {
    position: relative;
}

#main {
    transition: margin-left .5 sec
}

.push-left {
    margin-left: 300px;
}

.sidenav-background {
    background: linear-gradient(135deg, #141E30, #243B55);
}

.page-footer {
    padding-top: 0 !important;
}

button:disabled {
    background-color: black;
}

.colab-universities img {
    width: 180px;
    height: 180px;
}

.carousel .HWimg img {
    width: 100px;
    height: 100px;
}

.carousel .indicators .indicator-item {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #c0ca33;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
    opacity: 0.5;
}

.carousel .indicators .indicator-item:hover {
    opacity: 0.8;
}


.carousel .indicators .indicator-item.active {
    background-color: #ffab00;
    opacity: 0.8;
}